<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.main-block
			.menu
				.menu_item
					a(href="index.html") CSS
				.menu_item Синтаксис CSS
				.menu_item Вставка CSS
				.menu_item CSS текст
				.menu_item
					a(href="Shrift.html") CSS шрифт
				.menu_item.page Блоки
			.Block
				.block1
					.block1-item
						img(src="img/Block.png")
					.block1-item
						img(src="img/Block.png")
					.block1-item
						img(src="img/Block.png")
					.block1-item
						img(src="img/Block.png")
				.block2
					.block2-item1
						p
							|Блочный элемент - это элемент, который занимает всю доступную
							|ширину и всегда начинается с новой строки. Высота блока зависит
							|от его содержимого. У этих элементов в CSS стилях свойство display задано как:
						ul
							li <b>block</b> - элемент отображается как прямоугольник, ширина которого занимает 100% ширины охватывающего элемента;
							li <b>list-item</b> - элемент отражается, как элемент списка;
							li <b>table</b>  - элемент отображается как таблица.
					.block2-item2
						p
							|Блочный элемент по умолчанию занимает всю доступную ему ширину. Для изменения
							|ширины блока используется свойство width, которое устанавливает ширину содержимого элемента.
					.block2-item2
						p
							|Высота блочного элемента вычисляется браузером автоматически, исходя из его
							|содержимого. Для изменения высоты блока используется свойство height, которое
							|устанавливает высоту содержимого элемента.
				.block3
					p
						|Свойство <b>float</b> определяет, по какой стороне будет выравниваться элемент,
						|при этом остальные элементы будут обтекать его с других сторон.
						|Возможные значения свойства <b>float</b>:
					p
						ul
							li <b>none</b> - обтекание элемента не задается, элемент выводится на странице как обычно (установлен по умолчанию);
							li <b>left</b> - выравнивает элемент по левому краю, а все остальные элементы, например, текст, обтекают его по правой стороне;
							li <b>right</b> - выравнивает элемент по правому краю, а все остальные элементы обтекают его по левой стороне.