<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
	body
		.main-block
			.menu
				.menu_item
					a(href="index.html") CSS
				.menu_item Синтаксис CSS
				.menu_item Вставка CSS
				.menu_item CSS текст
				.menu_item.page CSS шрифт
				.menu_item
					a(href="Block.html") Блоки
			.Shrift
				.block1
					.block1-item
						img(src="img/css-text-decoration.png")
					.block1-item
						img(src="img/css-probely.png")
					.block1-item
						img(src="img/css-text.png")
				.block2
					p
						|font - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста.<br>
						|Синтаксис <br> font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit
				.block3
					p
						|font-style - определяет начертание шрифта: обычное, курсивное или наклонное.
						|Когда для текста установлено курсивное или наклонное начертание, браузер обращается
						|к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует
						|специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут
						|получиться неудовлетворительными, особенно при печати документа.<br>
						|Синтаксис <br> font-style: normal | italic | oblique | inherit
